tensorflow[and-cuda]
keras-tuner

cdsapi
copernicusmarine
ecmwf-datastores-client
python-cmr
pystac

xarray
cf_xarray
netCDF4
h5netcdf
zarr
dask
pandas
numpy
scipy
shapely

s3fs
boto3

python-dotenv
tqdm
pqdm
